In [71]:
import numpy as np
import pandas as pd

# Read csv files
crew = pd.read_csv('crew_merge.csv')
crew.head()

   Unnamed: 0                                               crew  movieId
0           1  [{'credit_id': '52fe426ec3a36847f801e14b', 'de...      710
1          25  [{'credit_id': '52fe42f4c3a36847f802f69f', 'de...     1408
2         264  [{'credit_id': '52fe424dc3a36847f80139cd', 'de...      524
3         436  [{'credit_id': '52fe420dc3a36847f800011b', 'de...        5
4         648  [{'credit_id': '52fe428ac3a36847f8026c6f', 'de...      902

In [72]:
# Remove unuseful column 
crew = crew.drop(['Unnamed: 0'], axis=1)
crew.head()

                                                crew  movieId
0  [{'credit_id': '52fe426ec3a36847f801e14b', 'de...      710
1  [{'credit_id': '52fe42f4c3a36847f802f69f', 'de...     1408
2  [{'credit_id': '52fe424dc3a36847f80139cd', 'de...      524
3  [{'credit_id': '52fe420dc3a36847f800011b', 'de...        5
4  [{'credit_id': '52fe428ac3a36847f8026c6f', 'de...      902

In [73]:
# Check the type of 'crew'
type(crew['crew'].iloc[1])

str

In [74]:
# Convert 'crew' column to list 
new_col = []
for i in range(len(crew)):
    words = crew.loc[i,'crew']
    words_split = words.split('{}')
    for j in range(len(words_split)):
        words_split[j] = words_split[j].strip(" ''[]")
    new_col.append(words_split)
    
crew['new_col'] = new_col
crew.head()

,crew,movieId,new_col
0,"[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,"[{'credit_id': '52fe426ec3a36847f801e14b', 'de..."
1,"[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408,"[{'credit_id': '52fe42f4c3a36847f802f69f', 'de..."
2,"[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",524,"[{'credit_id': '52fe424dc3a36847f80139cd', 'de..."
3,"[{'credit_id': '52fe420dc3a36847f800011b', 'de...",5,"[{'credit_id': '52fe420dc3a36847f800011b', 'de..."
4,"[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...",902,"[{'credit_id': '52fe428ac3a36847f8026c6f', 'de..."

In [75]:
# Check the transformation result
type(crew['new_col'].iloc[1])
print(crew['new_col'].iloc[1])

["{'credit_id': '52fe42f4c3a36847f802f69f', 'department': 'Camera', 'gender': 2, 'id': 2044, 'job': 'Director of Photography', 'name': 'Peter Levy', 'profile_path': None}, {'credit_id': '52fe42f4c3a36847f802f6b1', 'department': 'Art', 'gender': 1, 'id': 8383, 'job': 'Set Decoration', 'name': 'Maggie Gray', 'profile_path': None}, {'credit_id': '52fe42f4c3a36847f802f6ab', 'department': 'Art', 'gender': 2, 'id': 391, 'job': 'Production Design', 'name': 'Norman Garwood', 'profile_path': None}, {'credit_id': '52fe42f4c3a36847f802f6bd', 'department': 'Production', 'gender': 2, 'id': 3986, 'job': 'Executive Producer', 'name': 'Mario Kassar', 'profile_path': None}, {'credit_id': '52fe42f4c3a36847f802f699', 'department': 'Production', 'gender': 2, 'id': 7228, 'job': 'Producer', 'name': 'Joel B. Michaels', 'profile_path': None}, {'credit_id': '52fe42f4c3a36847f802f6a5', 'department': 'Production', 'gender': 1, 'id': 6044, 'job': 'Casting', 'name': 'Mindy Marin', 'profile_path': '/qzqo2SyYdwb3CKeLuUMXBJneWEe.jpg'}, {'credit_id': '52fe42f4c3a36847f802f693', 'department': 'Production', 'gender': 2, 'id': 10685, 'job': 'Producer', 'name': 'Laurence Mark', 'profile_path': '/fkqSdA5JyxMZwhb2qLzAHI2AUMO.jpg'}, {'credit_id': '52fe42f4c3a36847f802f6b7', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 14590, 'job': 'Costume Design', 'name': 'Enrico Sabbatini', 'profile_path': None}, {'credit_id': '52fe42f4c3a36847f802f681', 'department': 'Directing', 'gender': 2, 'id': 16938, 'job': 'Director', 'name': 'Renny Harlin', 'profile_path': '/lOCRZzC1UZfkObWpQtKxga5ZV8F.jpg'}, {'credit_id': '52fe42f4c3a36847f802f68d', 'department': 'Production', 'gender': 2, 'id': 16938, 'job': 'Producer', 'name': 'Renny Harlin', 'profile_path': '/lOCRZzC1UZfkObWpQtKxga5ZV8F.jpg'}, {'credit_id': '52fe42f4c3a36847f802f687', 'department': 'Production', 'gender': 2, 'id': 22706, 'job': 'Producer', 'name': 'James Gorman', 'profile_path': None}, {'credit_id': '52fe42f4c3a36847f802f6c9', 'department': 'Writing', 'gender': 2, 'id': 22706, 'job': 'Story', 'name': 'James Gorman', 'profile_path': None}, {'credit_id': '52fe42f4c3a36847f802f6c3', 'department': 'Writing', 'gender': 2, 'id': 21203, 'job': 'Story', 'name': 'Michael Frost Beckner', 'profile_path': None}, {'credit_id': '52fe42f4c3a36847f802f6d5', 'department': 'Writing', 'gender': 2, 'id': 20061, 'job': 'Screenplay', 'name': 'Marc Norman', 'profile_path': None}, {'credit_id': '54591caa0e0a26115e002240', 'department': 'Writing', 'gender': 2, 'id': 1224549, 'job': 'Screenplay', 'name': 'Robert King', 'profile_path': '/fCeDPxdYWQDkbFKvDFQr8Csyi8T.jpg'}, {'credit_id': '5708349d9251415bc00005c4', 'department': 'Visual Effects', 'gender': 0, 'id': 1368867, 'job': 'Special Effects Supervisor', 'name': 'Allen Hall', 'profile_path': None}"]

In [76]:
# Convert string into dictionary since json.dumps works only on dictionary
# Use json.dumps to convert all single quote into double quotes
import ast
import json
dict = []
for k in range(len(crew['new_col'])):
    x = ast.literal_eval(crew['new_col'].iloc[k][0])
    j = json.dumps(x,indent=1)
    dict.append(j)
crew['crew_dict'] = dict
crew.head()

,crew,movieId,new_col,crew_dict
0,"[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,"[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[\n {\n ""credit_id"": ""52fe426ec3a36847f801e14..."
1,"[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408,"[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","[\n {\n ""credit_id"": ""52fe42f4c3a36847f802f69..."
2,"[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",524,"[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","[\n {\n ""credit_id"": ""52fe424dc3a36847f80139c..."
3,"[{'credit_id': '52fe420dc3a36847f800011b', 'de...",5,"[{'credit_id': '52fe420dc3a36847f800011b', 'de...","[\n {\n ""credit_id"": ""52fe420dc3a36847f800011..."
4,"[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...",902,"[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...","[\n {\n ""credit_id"": ""52fe428ac3a36847f8026c6..."

In [77]:
crew.to_csv('crew_double_quote.csv')